@charset "UTF-8";

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
 
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background: transparent;
}
 

/* ここまでがreset css */

body {
  background: white;
  color: #fff;
  font-weight: 500;
  font-family: Helvetica, meiryo, "Yu Gothic", sans-serif;
  font-size:1rem;
  max-width:760px;
  margin: 0 auto;
}


/* 見出し関係のスタイル */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-weight: 500;
}

h1 {
  font-size: 2.8rem;
  line-height: 1.2;
  font-weight: bold;
  color: #444;
  margin: 20px 0;
}

h2 {
  margin: 1.8em 0 .5em;
  padding-left: 0;
  letter-spacing: 1px;
  font-size: 1.8rem;
  font-weight: bold;
  vertical-align: bottom;
  line-height: 1.2;
  border-bottom:3px solid #333;
}

h3 {
  margin: 8px 0 12px 0;
  padding: 0 0 0 5px;
  line-height: 1.05;
  vertical-align: bottom;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-left: 14px solid #aaa;
}

h4 {
  margin: 5px 0 5px 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

h5 {
  margin: 0 0 0 5px;
  padding-left:5px;
  font-size: 1rem;
  color: #222;
  border-left:3px solid #999;
}

h6 {
  margin: 0 0 6px 0;
  padding: 8px 5px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #999;
}

h5 + pre {
  margin-top: 0;
}

/* リンク */

a.footnote-back {
  text-decoration: none;
}

a {
  text-decoration: underline;
}

a:link {
  color: #0076e0;
}

a:visited {
  color: #39f;
}

a:hover {
  text-decoration: none;
  color: #009cd5;
}

/* 画像 */
img {
  vertical-align: top;
  max-width: 100%;
  max-height: 440px;
  height: auto;
}


/* 各要素基本マージンと文字色 */
figure,
dl,
ol,
ul,
p,
pre,
table {
  color: #333333;
  margin-bottom: 1.5em;
}


/* リスト関連 */

ul,
ol {
  margin-left: 28px;
}
li {
  margin-bottom: .7em;
}

dl dt {
  color: #333;
  font-size: 1rem;
}

dl dd {
  margin-bottom: 1.2em;
  padding-bottom: 1.4em;
  border-bottom: 1px solid #f1f1f1;
}
dl dd:last-of-type {
  padding-bottom: 0;
  border-bottom: 0;
}

dd {
  margin-left: 24px;
}
/* テーブル */
table,
.vscode-dark table {
  line-height: 1.6em;
  border-collapse: collapse;
  margin-left:5px;
}



table > thead,
.vscode-dark table > thead  {
	background-color: #f0f0f0;
}

table > thead > tr > th,
.vscode-dark table > thead > tr > th {
  text-align: left;
  Color:#666;
}

table > thead > tr > th,
table > thead > tr > td,
table > tbody > tr > th,
table > tbody > tr > td,
.vscode-dark table > thead > tr > th,
.vscode-dark table > thead > tr > td,
.vscode-dark table > tbody > tr > th,
.vscode-dark table > tbody > tr > td {
  padding: 3px 10px;
  border: 1px solid #aaa;

}

table > tbody > tr + tr > td,
.vscode-dark table > tbody > tr + tr > td {
  border: 1px solid #aaa;
}


/* 区切り線 */
hr {
  border: 0;
  height: 1px;
  width: 8%;
  margin: 80px 0 50px;
  padding: 0;
  background: rgba(153, 153, 153, 0.3);
}


/* mark em small strong */
mark {
  font-style: normal;
  background: rgba(255, 255, 0, 0.5);
}

em {
  margin: 0 3px;
  padding: 0 5px;
  background: rgba(255, 192, 203, 0.3);
  font-weight: bold;
}

small {
  font-size: 80%;
}

strong {
  font-weight: bold;
}


/* pre code figure */
code,
.vscode-dark code {
  color: darkslateblue;
}

pre code,
.vscode-dark pre code {
  color: #111;
}

pre,
.vscode-dark pre {
  padding: 1px;  
  font-family: "consolas", "Source Code Pro", "Consolas", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", "Meiryo", verdana, sans-serif;
  font-weight: normal;

}

pre,
.vscode-dark pre  {
  margin:2px 2px 25px 5px;
}

pre *,
.vscode-dark pre * {
  background-color: #333377;
}

pre code,
.vscode-dark pre code  {
  background-color: #ddd;
}

/* 4つの空白で設定したコード */
pre:not(.hljs),
.vscode-dark pre:not(.hljs) {
  background-color: #ddd;
  padding:10px 10px 10px 14px;
}

pre.hljs,
.vscode-dark pre.hljs {
}

pre.hljs code > div,
.vscode-dark pre.hljs code > div {
  background-color: #eee;
  padding:10px 10px 10px 14px;
}

pre:not(.hljs) code > div,
.vscode-dark  pre:not(.hljs) code > div {

}

code,
.vscode-dark code {
  font-family: "Source Code Pro", "Consolas", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", "Meiryo", verdana, sans-serif;
  font-weight: normal;
  border-radius: 2px;
  font-size: 0.9rem;
  line-height: 1.3;
}

/* figure */
figure {
  padding: 1px;
  margin-left: 0;
  margin-right: 0;
  background: #eee;
}

figure figcaption {
  margin-bottom: 1px;
  padding: 5px 15px;
  background: #eee;
  font-size: 1.2rem;
  letter-spacing: .1em;
  text-shadow: 1px 1px 0 white;
}

figure pre {
  margin-bottom: 0;
}

figure pre+figcaption {
  margin-top: 1px;
}


/* 引用 */
blockquote {
  position: relative;
  margin-bottom: 1em;
  margin: 0 0 10px 10px;
  padding: 1.5em 15px 1px 35px;
  background: #fafafa;
  border: 1px solid #f1f1f1;
  font-size: 1rem;
}

blockquote:before {
  content: "\"";
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 2.5rem;
  color: #999;
  font-family: "Source Code Pro", "Consolas", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", "Meiryo", verdana, sans-serif;
}


cite {
  font-style: italic;
}

iframe {
  max-width: 100%;
}

p {
  margin-left: 5px;
}

sup {
  vertical-align: super;
}